<footer class="footer bg-dark text-white">
  <div class="container ">

    <div class="row">
      <div class="col-sm">
        <h2 class="font-weight-bold ">YOUR FASHION WAND</h2>
      </div>
      <div class="col-sm  m-2">
        <a><p>
          HOME
        </p></a>
        <a><p>
          BLOG
        </p></a>
        <a><p>
          CONTACT US
        </p></a>

        <a class="text-muted" href="https://www.instagram.com/clothx.official" target="_blank"><p>
          INSTAGRAM
        </p></a>
      </div>

    </div>
  </div>
  <hr>
  <div class="container text-center">
    <small>
      SPOTEASY © 2018 ALL RIGHTS ARE RESERVED TO CLOTHX.
    </small>
  </div>
</footer>
