<div *ngIf="isNotFound">
  <ngb-carousel *ngIf="storeCatalog.storeDetails['storePictures']" class="carousel slide">
    <ng-template *ngFor="let storePicture of storeCatalog.storeDetails['storePictures']['localDownloadUrls']" ngbSlide>
      <img class="slide" [src]="storePicture" [alt]="storeCatalog.storeDetails['storeName'] + 'store pictures'">
      <div class="carousel-caption">
        <img class="logo-img" *ngIf="storeCatalog.storeDetails['storeLogo']"
             [src]="storeCatalog.storeDetails['storeLogo']['localDownloadUrl']" width="100" height="100"
             [alt]="storeCatalog.storeDetails['storeName'] + ' logo'">
      </div>
    </ng-template>
  </ngb-carousel>


  <div *ngIf="storeCatalog.storeDetails !== {}" class="jumbotron text-center">
    <h1 class="display-4"><b>{{storeCatalog.storeDetails['storeName']}}</b></h1>
    <p *ngIf="storeCatalog.storeDetails['address']" class="lead">{{storeCatalog.storeDetails['address']['city']}},
      {{storeCatalog.storeDetails['address']['state']}}.</p>
    <hr class="my-4">
    <p>{{storeCatalog.storeDetails['description']}}</p>
    <!--<a class="btn btn-primary btn-lg" href="#" role="button">Follow us</a>-->
  </div>

  <div *ngIf="!isProductFound">
    <div style="text-align: center;">
      <img src="../../assets/logo.png" class="grey-logo" width="80" alt="clothx logo">
    </div>
    <div class="content">There is no products add to {{param}} yet</div>
    <div class="setup-link">Browse other stores</div>
  </div>
  <div *ngIf="isProductFound">

    <div class="m-4">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search for Products" [(ngModel)]="searchQuery.query"
               (ngModelChange)="onChange()"
               (keyup.enter)="search()">
        <button class="input-group-append btn btn-primary" (click)="search()">Search</button>
      </div>
    </div>
    <div class="mobile-tab" *ngIf="screenWidth < 600">
      <div class="row">
        <div class="col" (click)="openSortBottomSheet()">
          <strong>Sort By
            <mat-icon>sort</mat-icon>
          </strong>
        </div>
        <div class="col" (click)="openFilter()">
          <strong>Filters
            <mat-icon>filter_list</mat-icon>
          </strong>
        </div>
      </div>
    </div>
    <hr *ngIf="screenWidth < 600">
    <div class="row">
      <div class="col-md-3" *ngIf="!(screenWidth < 600)">
        <cx-filter-box></cx-filter-box>
      </div>
      <div class="col-md-8">
        <div class="m-3" *ngIf="!(screenWidth < 600)">
          <cx-sort-box></cx-sort-box>
        </div>
        <hr *ngIf="!(screenWidth < 600)">
        <div class="container">

          <mat-card *ngFor="let product of searchQuery.query.length === 0 ? storeCatalog.products: resultProduct"
                    class="product-card">
            <img mat-card-image [src]="product.picturesUrl[0]" alt="product-photo">
            <mat-card-content>
              <mat-card-actions>
              </mat-card-actions>
              <mat-chip-list>
            <span *ngFor="let variant of product.variants">
            <mat-chip *ngIf="variant.size != ''">
              {{variant.size.toUpperCase()}}
              <span *ngIf="!product.isVariantsWithSamePrice"> &nbsp; : &#x20B9;{{variant.sellingPrice}}</span>
            </mat-chip>
            </span>
                <mat-chip *ngIf="product.isVariantsWithSamePrice">
                  <span>&#x20B9;{{product.variants[0].sellingPrice}}</span>
                </mat-chip>
              </mat-chip-list>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </div>

</div>
<div *ngIf="!isNotFound">
  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">
      <img src="../../assets/logo.png" width="80" alt="clothx logo">
    </a>
  </nav>

  <div style="text-align: center;">
    <img src="../../assets/logo.png" class="grey-logo" width="60" alt="clothx logo">
  </div>
  <div class="content">There is no store named {{param}} yet</div>
  <div class="setup-link" (click)="navigateHome() ">Browse other stores</div>

</div>
