*,
*:before,
*:after {
  box-sizing: border-box;
}

.product-card {
  margin-top: 15px;
  display: flex;
  flex: 1 1 200px;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  width: 150px;
  height: 300px;

  mat-chip {
    background-color: #09bda9;
    color: white;
    cursor: pointer;
  }
  mat-card-actions {
    height: 40px;
    border-radius: 40px;
    padding: 0;
  }
  mat-card-actions > * {
    margin: 0;
  }
  .favorite-icon-red {
    color: red;
  }
  .favorite-icon-grey {
    color: grey;
  }
  .add-shopping-icon {
    color: #09bda9;
  }
  .remove-shopping-icon {
    color: red;
  }
  mat-card-content {
    position: absolute;
    bottom: 10px;
  }
  img {
    height: 250px;
    width: 150px;
    display: block;
    object-fit: cover;

  }

}

.container {
  max-width: 900px;
  margin: 25px 20px;
  display: grid;
  grid-gap: 10px;
}

/* no grid support? */

.container {
  display: flex;
  flex-wrap: wrap;
}

.container {
  display: grid;
  margin: 20px auto;
  column-gap: 15px;
  grid-template-columns: repeat(auto-fill, minmax(150px, 150px));
  grid-auto-rows: auto;
}

.container > * {
  padding: 20px;
  margin-bottom: 10px;
}

/* We need to set the margin used on flex items to 0 as we have gaps in grid.  */

@supports (display: grid) {
  .container > * {
    margin: 0;
  }
}

.input-group {
  max-width: 600px;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

.form-control {
  border-radius: 50px;
}

.form-control, small {
  font-family: 'Montserrat', sans-serif;
}

.form-control:focus {
  border-color: #06bca9;
  box-shadow: 0 1px 1px #06bca9 inset, 0 0 8px #06bca9;
  outline: 0 none;
}

.input-group .btn {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border-color: #06bca9;
  background-color: #06bca9;
}

.input-group .btn:hover {
  background-color: #06bca9;
  color: white;
}

.input-group .btn:focus {
  border-color: #06bca9;
  box-shadow: 0 1px 1px #06bca9 inset, 0 0 8px #06bca9;
  outline: 0 none;
}

.mobile-tab {
  .row {
    text-align: center;
    margin: 10px;
    mat-icon {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      vertical-align: middle;
      margin-left: 10px;
    }
  }
}

.row {
  max-width: 99vw;
}

@media only screen and (max-width: 600px) {
  .container {
    display: grid;
    padding: 0;
    margin: 0;
    grid-gap: 0;
    column-gap: 0;
    width: 100vw;
    grid-template-columns: repeat(auto-fill, minmax(100px, 50vw));
    grid-auto-rows: auto;
  }
  img {
    min-width: 50vw;
  }

}
