.map {
  max-width: 100%;
}

.selectedImg {
  max-width: 100%;
  width: 100vw;
}

.not-selected-img {
  display: inline-block;
  width: 75px;
  cursor: pointer;
}

.scrolling-wrapper {
  cursor: pointer;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;


  .product-card {
    display: inline-block;
    margin: 10px;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    width: 200px;
    height: 300px;

    mat-chip {
      background-color: #09bda9;
      color: white;
      cursor: pointer;
    }

    mat-card-actions {
      height: 40px;
      border-radius: 40px;
      padding: 0;
    }

    mat-card-actions > * {
      margin: 0;
    }

    .favorite-icon-red {
      color: red;
    }

    .favorite-icon-grey {
      color: grey;
    }

    .add-shopping-icon {
      color: #09bda9;
    }

    .remove-shopping-icon {
      color: red;
    }

    mat-card-content {
      position: absolute;
      bottom: 10px;
    }

    img {
      height: 250px;
      width: 200px;
      display: block;
      object-fit: cover;

    }

    .product-name {
      display: block;
      margin: 10px;
    }
  }

  .left-scroll-arrow {
    position: absolute;
    left: 10px;
    z-index: 100;
  }

  .right-scroll-arrow {
    position: absolute;
    right: 10px;
    z-index: 100;
  }
}

.scrolling-wrapper::-webkit-scrollbar {
  display: none;
}

.scrolling-wrapper::-webkit-scrollbar-track {
  height: 5px;
  border-radius: 10px;
}

.scrolling-wrapper::-webkit-scrollbar-thumb {
  display: none;
}
