$icon-background-color: #09bda9;
nav {
  button {
    border-radius: 14px;
    letter-spacing: 0.5px;
    font-size: 14px;
    font-weight: 600;
    background-color: $icon-background-color;
  }
  mat-chip {
    cursor: pointer;
  }
}
