<!--<div cxScrollable (scrollPosition)="scrollHandler($event)">-->



<!--</div>-->

<!--<div class="addthis_inline_share_toolbox_6o6o"></div>-->

<ngb-carousel>
  <ng-template ngbSlide>
    <img class="slide" src="https://images.pexels.com/photos/264554/pexels-photo-264554.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="first slide">
    <div class="carousel-caption">
      <div>
        <div class="navbar-brand"><h4 class="brand-title m-2"><span>Spot</span>easy</h4></div>
      </div>
      <p class="font-weight-bold">FIND YOUR NEIGHBOURHOOD FASHION</p>
    </div>
  </ng-template>
  <!--<ng-template ngbSlide>-->
  <!--<img class="slide" src="https://spot.page.link/Tbeh" alt="second slide">-->
  <!--<div class="carousel-caption">-->
  <!--<div>-->
  <!--<div class="navbar-brand"><h4 class="brand-title m-2"><span>Spot</span>easy</h4></div>-->
  <!--</div>-->
  <!--<p class="font-weight-bold">YOUR NEIGHBOURHOOD FASHION</p>-->
  <!--</div>-->
  <!--</ng-template>-->
  <!--<ng-template ngbSlide>-->
  <!--<img class="slide" src="https://spot.page.link/HVFx" alt="third slide">-->
  <!--<div class="carousel-caption">-->
  <!--<div>-->
  <!--<div class="navbar-brand"><h4 class="brand-title m-2"><span>Spot</span>easy</h4></div>-->
  <!--</div>-->
  <!--<p class="font-weight-bold">YOUR NEIGHBOURHOOD FASHION</p>-->
  <!--</div>-->
  <!--</ng-template>-->

</ngb-carousel>
<div class="divide m-4">
  <h3 class="text-center font-weight-bold">CATEGORIES</h3>
</div>
<div class="row">
  <div class="col-md" (click)="navigateWithFilters('Women')"><img src="https://bit.ly/2rDeZEg" alt="second slide">
    <div class="after"><span>WOMEN</span></div>
  </div>
  <div class="col-md" (click)="navigateWithFilters('Men')"><img src="https://bit.ly/2S4iUpn" alt="second slide">
    <div class="after"><span>MEN</span></div>
  </div>
  <div class="col-md" (click)="navigateWithFilters('Boy')"><img src="https://images.pexels.com/photos/1073083/pexels-photo-1073083.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="second slide">
    <div class="after"><span>KIDS-MALE</span></div>
  </div>
  <div class="col-md" (click)="navigateWithFilters('Girl')"><img src="https://images.pexels.com/photos/265957/pexels-photo-265957.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="second slide">
    <div class="after"><span>KIDS-FEMALE</span></div>
  </div>
</div>
<div class="divide m-4">
  <h3 class="text-center font-weight-bold"><span class="text-danger">NEW</span> ARRIVALS IN COIMBATORE</h3>
</div>
<div class="scrolling-wrapper" id="scrolling-wrapper" *ngIf="products">
  <mat-card *ngFor="let product of  products" class="product-card">
    <img mat-card-image [src]="product.picturesUrl[0]" alt="product-photo">
    <mat-card-content>

      <mat-chip-list>
            <span *ngFor="let variant of product.variants">
            <!--<mat-chip *ngIf="variant.size != ''">-->
              <!--{{variant.size.toUpperCase()}}-->
              <!--<span *ngIf="!product.isVariantsWithSamePrice"> &nbsp; : &#x20B9;{{variant.sellingPrice}}</span>-->
              <!--</mat-chip>-->
            </span>
        <p class="product-name">{{product.productName}}</p>
        <mat-chip>
          <span>&#x20B9;{{product.variants[0].sellingPrice}}</span>
        </mat-chip>
      </mat-chip-list>

    </mat-card-content>
  </mat-card>
  <button mat-fab (click)="scrollRight()" class="left-scroll-arrow">
    <mat-icon aria-label="keyboard-left-arrow">keyboard_arrow_left</mat-icon>
  </button>
  <button mat-fab (click)="scrollLeft()" class="right-scroll-arrow">
    <mat-icon aria-label="keyboard-right-arrow">keyboard_arrow_right</mat-icon>
  </button>
</div>
<div class="divide m-4">
  <h3 class="text-center font-weight-bold">STEREOTYPES</h3>
</div>
<div class="row occasions">
  <div class="col-sm" (click)="navigateWithFilters('Formals')"><img src="https://images.pexels.com/photos/1702/bow-tie-businessman-fashion-man.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                                                                    alt="second slide">
    <div class="after"><span>Formals</span></div>
  </div>
  <div class="col-sm" (click)="navigateWithFilters('Casuals')"><img src="https://firebasestorage.googleapis.com/v0/b/clothxnet.appspot.com/o/spoteasy%2Fcat-img%2Fpexels-photo-899357.jpeg?alt=media&token=a42860ac-62e0-473b-afe1-69277b14fcb4"
                                                                    alt="second slide">
    <div class="after"><span>Casuals</span></div>
  </div>

</div>
<div class="row ">
  <div class="col-sm" (click)="navigateWithFilters('Wedding')"><img src="https://firebasestorage.googleapis.com/v0/b/clothxnet.appspot.com/o/spoteasy%2Fcat-img%2Fpexels-photo-1182963.jpeg?alt=media&token=9738b2c3-35dd-46de-b0ab-de790a6ce111"
                                                                    alt="second slide">
    <div class="after"><span>Wedding</span></div>
  </div>
  <div class="col-sm" (click)="navigateWithFilters('Sports')"><img src="https://firebasestorage.googleapis.com/v0/b/clothxnet.appspot.com/o/spoteasy%2Fcat-img%2Fpexels-photo-1103833.jpeg?alt=media&token=55c384d6-bec0-4014-8267-40e1273af4c4" alt="second slide">
    <div class="after"><span>Sports Wear</span></div>
  </div>
</div>

<br>

<footer class="footer bg-dark text-white">
  <div class="container ">

    <div class="row">
      <div class="col-sm">
        <h2 class="font-weight-bold ">YOUR FASHION WAND</h2>
      </div>
      <div class="col-sm  m-2">
        <a><p>
          HOME
        </p></a>
        <a><p>
          BLOG
        </p></a>
        <a><p>
          CONTACT US
        </p></a>

          <a href="https://www.instagram.com/clothx.official" target="_blank"><p>
            INSTAGRAM
          </p></a>
      </div>

    </div>
  </div>
  <hr>
  <div class="container text-center">
    <small>
      SPOTEASY © 2018 ALL RIGHTS ARE RESERVED TO CLOTHX.
    </small>
  </div>
</footer>
