<cx-navbar></cx-navbar>
<cx-product-listing></cx-product-listing>
<!--<button mat-fab class="cart" *ngIf="isLoggedIn" (click)="navigateTo('/cart')">-->
<!--<mat-icon aria-label="shopping cart icon">shopping_cart</mat-icon>-->
<!--</button>-->
<!--<ais-instantsearch [config]="searchConfig" >-->

<!--<ais-search-box (change)="searchChanged($event)"></ais-search-box>-->

<!--<ais-hits *ngIf="showResults">-->
<!--<ng-template let-hits="hits">-->
<!--<div *ngFor="let hit of hits">-->

<!--<img [src]="hit.data.picturesUrl[0]" width="30px">-->

<!--<ng-ais-highlight attribute="name" [hit]="hit.data.productName"></ng-ais-highlight>-->

<!--<div class="bio">-->
<!--{{ hit.data.productName}}-->
<!--</div>-->

<!--</div>-->
<!--</ng-template>-->
<!--</ais-hits>-->
<!--</ais-instantsearch>-->
